<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengyuan.backstage.mapper.HotKeyMapper">

    <select id="selGoodsName" resultType="java.lang.String">
        SELECT DISTINCT(goodsName) FROM orders
        WHERE 1=1
        <if test="corporateName!=null">
            AND corporateName = #{corporateName}
        </if>

    </select>

    <select id="selUser" resultType="com.pengyuan.backstage.bean.UserHotKey">
        SELECT uid ,userName FROM user
            <where>
                <if test="fid!=null">
                    AND fid = #{fid}
                </if>
            </where>
    </select>
    <select id="selUserByKey" resultType="com.pengyuan.backstage.bean.UserHotKey">

        SELECT userName , uid  FROM  user
        <where>
            <if test="fid!=null">
                AND fid = #{fid}
            </if>
            <if test="key!=null">
                <bind name="key" value="'%'+key+'%'"></bind>
                AND userName like #{key}
            </if>
        </where>

    </select>
    <select id="selProcedureByKey" resultType="com.pengyuan.backstage.bean.ProcedureHotKey">

        SELECT pName , pid FROM procedures
             <where>
                 <if test="key!=null">
                     <bind name="key" value="'%'+key+'%'"></bind>
                     AND  pName LIKE #{key}
                 </if>
             </where>

    </select>
</mapper>