<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengyuan.backstage.mapper.HotKeyMapper">

    <select id="selGoodsName" resultType="java.lang.String">
        SELECT DISTINCT(goodsName) FROM orders
        WHERE 1=1
        <if test="corporateName!=null">
            AND corporateName = #{corporateName}
        </if>

    </select>

    <select id="selUser" resultType="com.pengyuan.backstage.bean.UserHotKey">
        SELECT uid ,userName FROM user
            <where>
                <if test="fid!=null">
                    AND fid = #{fid}
                </if>
            </where>
    </select>
</mapper>