<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengyuan.backstage.mapper.ProcedureMapper">
	
	<select id="searchProcedureByPage" resultType="com.pengyuan.backstage.bean.Procedures">
			select * from procedures
			<where>
				<if test="procedures.name != null">
					and name like '%${procedures.name}%'
				</if>
				<if test="procedures.remarks != null">
					and remarks like '%${procedures.remarks}%'
				</if>
				<if test="procedures.times != null">
					and times like '${procedures.times}%'
				</if>
				<if test="procedures.flag != null">
					and flag = #{procedures.flag}
				</if>
			</where>
			
			limit #{pageBeginIndex},8
	</select>
	
	<select id="searchAllColumn" resultType="Integer">
		select count(*) from procedures
			<where>
				<if test="procedures.name != null">
					 and name like '%${procedures.name}%'
				</if>
				<if test="procedures.remarks != null">
					and remarks like '%${procedures.remarks}%'
				</if>
				<if test="procedures.times != null">
					and times like '${procedures.times}%'
				</if>
				<if test="procedures.flag != null">
					and flag = #{procedures.flag}
				</if>
			</where>
	</select>
	
</mapper>