<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pengyuan.backstage.mapper.UserMapper">
	<resultMap type="com.pengyuan.backstage.bean.User" id="userListMap">
	<id column="uid" property="uid"/>
	<result column="fid"  property="fid"/>
	<collection property="factory" column="fid"  select="com.pengyuan.backstage.mapper.FactoryMapper.selectFactoryByFid"/>
	
</resultMap>

			<select id="getUserList"   resultMap="userListMap">
					select * from user where flag = 1
			</select>
			
			<select id="getUserInfo" resultMap="userListMap">
					select * from user where uid = #{uid} 
			</select>
			
			<insert id="addUser">
				insert into user(userName,tel,fid,flag) values(#{userName},#{tel},#{fid},#{flag})
			</insert>
			
			<update id="updateUser">
				update user 
				<set>
						<if test="userName != null">
							userName = #{userName},
						</if>
						<if test="tel != null">
							tel  =  #{tel},
						</if>
						<if test="fid != null">
							fid  =  #{fid},
						</if>
						<if test="flag != null">
							flag = #{flag}
						</if>
				</set>
				where uid= #{uid}
			</update>
			
			<update id="deleteUser">
				update user set flag = 0  where uid = #{uid}
			</update>
			
			<select id="selectUserByCondition" resultMap="userListMap">
				select * from user 
				<where>
					<if test="userName != null">
						userName like '%${userName}%'
					</if>
					<if test="tel != null">
						and tel like  '%${tel}%'
					</if>
					<if test="flag != null">
						and flag = #{flag}
					</if>
					<if test="fid != null">
						and fid = #{fid}
					</if>
				</where>
			</select>
			
			
			<select id="serachUserPage" resultMap="userListMap">
				select * from user 
				<where>
					<if test="user.userName != null">
						and userName like '%${user.userName}%'
					</if>
					<if test="user.tel != null">
						and tel like  '%${user.tel}%'
					</if>
					<if test="user.flag != null">
						and flag = #{user.flag}
					</if>
					<if test="user.fid != null">
						and fid = #{user.fid}
					</if>
				</where>
				   	limit #{pageNum},8				
			</select>
			
			<select id="getTotalPage" resultType="Integer">
				select count(*) from user 
				<where>
					<if test="user.userName != null">
						and userName like '%${user.userName}%'
					</if>
					<if test="user.tel != null">
						and tel like  '%${user.tel}%'
					</if>
					<if test="user.flag != null">
						and flag = #{user.flag}
					</if>
					<if test="user.fid != null">
						and fid = #{user.fid}
					</if>
				</where>
			</select>
</mapper>