#historySearch{
    width: 120px;
    position: fixed;
    z-index: 999;
    display: none;
    background: #fff;
    border: 1px solid #dddddd;
}
.historyLi li{
    width: 120px;
    color: #000;
    font: 14px arial;
    line-height: normal;
    line-height: 22px;
    padding: 0 8px;
    position: relative;
    cursor: default;
    list-style-type:none;
}